<ion-view >
  <ion-content class="no-header splash" style="padding-top:60px;"> 
            <div class="branding_forgetpassword">
                <h3>RESET YOUR PASSWORD</h3> 
                <!-- <img src="img/rouxacademylogo.svg" alt="Roux Academy Logo"> -->
                <p>It is often forgotten that password thing. Enter your email address below and click on the 'Request password Reset' button. We will contact you shortly !</p>
                <br />

                <label class="item item-input inputLabel">
                    <i class="icon ion-at placeholder-icon"></i>
                    <input class="inputLogin" type="email" placeholder="Email">
                </label> 


                <br />
 
                <button class="button button-assertive">
                    REQUEST PASSWORD RESET
                </button> 
            </div>
      
  </ion-content>
</ion-view>
