<ion-view >
  <ion-content class="no-header splash" style="padding-top:60px;"> 
            <div class="branding">
                <h3>REGISTER FOR AN ACCOUNT</h3> 
                <!-- <img src="img/rouxacademylogo.svg" alt="Roux Academy Logo"> -->
                <p>We just need to get a few details from you to get you signed up to the service.</p>
                

                <label class="item item-input inputLabel">
                    <i class="icon ion-at placeholder-icon"></i>
                    <input class="inputLogin" type="email" placeholder="Email">
                </label>

                <br />

                <label class="item item-input inputLabel">
                    <i class="icon ion-asterisk placeholder-icon"></i>
                    <input class="inputLogin" clear type="password" placeholder="Password">
                </label>


      

                <ion-checkbox class="termsAndConditions" ng-model="filter.light">I agree to the Terms & Conditions</ion-checkbox>
          
                <button class="button button-assertive">
                    SIGN UP
                </button>

            </div>
            <p>We will be sending you a confirmation mail. Please open the mail and click on the link to activate your account</p>
      
  </ion-content>
</ion-view>
